.carousel-inner>.carousel-item {
  position: relative;
  -webkit-transition: .2s ;
  -o-transition: .2s ;
  transition: .2s ;
 
}
.carousel-inner{
    height:450px;
}
.carousel-caption{
    top: 20px;
    justify-content: center;
    align-items: center;
}
.carousel-caption .section1{
  margin-top: 70px;
  margin-left: 17vw;
  max-width: 500px;
  padding: 20px;
  background: linear-gradient(180deg, rgba(66, 182, 72, 0.443), rgba(36, 82, 10, 0.443));
  font-weight:500;
  font-family: var(--textFamily);
  letter-spacing: 1px;
}
.carousel-caption h5{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing:2px;
    font-weight: bold
}
  
.carousel-caption p{
    font-size: 20px;
    width:60%;
    line-height: 1.9;
}
.carousel-caption button{
    background: var(--primaryColor);
    padding: 10px 20px;
    border: none;
}
.slider-arrow{
    font-size: 70px;
    font-weight: bold;
    color: var(--primaryColor)
}

@media screen and (max-width: 960px){
  .carousel-inner{
    width: 100%;
  }
  .carousel-inner .carousel-item img{
    height: 250px!important;
    width: 100%
  }
  .slider-arrow{
    font-size: 30px;
    font-weight: bold;
    position:absolute;
    top:120px;
    z-index: 999;
}
}
  
  
  